{% extends 'layout.twig' %}

{% block body %}
  
  <script  async >
   const socket = io.connect();


socket.on('disconnect', (data) => {
  io.emit('disconnect');
});

// Disconnect event
socket.on('user-disconnected', (data) => {
  alert('A user has disconnected');
});

// Message event
socket.on('newpartie', (data) => {
  const li = document.createElement('li');
  li.textContent = `${data.nom}: ${data.joueur_1}: ${data.joueur_2}`;
  document.querySelector('.list-partie').appendChild(li);
});


socket.on('stat', (data) => {
  const li1 = document.createElement('li');
  const li2 = document.createElement('li');
  const li0 = document.createElement('li');

  li0.textContent = `Nom : ${data.partie}`;
  li1.textContent = `Nom Joueur 1: ${data.joueur1.pseudo}, Score: ${data.joueur1.score}, Sante: ${data.joueur1.sante}`;
  li2.textContent = `Nom Joueur 2: ${data.joueur2.pseudo}, Score: ${data.joueur2.score}, Sante: ${data.joueur2.sante}`;

  document.querySelector('.list-partie').appendChild(li0);
  document.querySelector('.list-partie').appendChild(li1);
  document.querySelector('.list-partie').appendChild(li2);

});


function stat(){
  event.preventDefault();
   const partie = document.getElementById('partie').value;
  const joueur_1 = document.getElementById('joueur_1').value;
  const joueur_2 = document.getElementById('joueur_2').value;
  socket.emit('status', { nom:partie, joueur_1:joueur_1, joueur_2:joueur_2});
}

function send(){
  event.preventDefault();
  const partie = document.getElementById('partie').value;
  const joueur_1 = document.getElementById('joueur_1').value;
  const joueur_2 = document.getElementById('joueur_2').value;
  socket.emit('newpartie', { nom:partie, joueur_1:joueur_1, joueur_2:joueur_2});
}

</script>


  <div class="container">
    <div class="row">
      <div class="col-md-12">
    
        <h1>Messages: </h1>
        <form  id="myForm" >
        <div class="form-group">
          <label for="partie">Nom Partie</label>
          <input type="text" name="partie" id="partie" class="form-control" placeholder="Partie"> 
        </div>
        <div class="form-group">
          <label for="joueur_1">Joueur 1</label>
          <input type="text" name="joueur_1" id="joueur_1" class="form-control" placeholder="Joueur 1" >
       </div>
        <div class="form-group">
          <label for="joueur_2">Joueur 2</label>
          <input type="text" name="joueur_2" id="joueur_2" class="form-control" placeholder="Joueur 2">
       </div>
          <button type="submit" onclick="send()" class="btn btn-primary">Envoyer</button>
          <button type="submit" onclick="stat()" class="btn btn-secondary">Afficher stat </button>
        </form>
        <ul class="list-partie">
        </ul>

      </div>
    </div>
  </div>


{% endblock %}
